EMAIL=
DOMAIN=
ADMIN_USER=
ADMIN_PASSWORD=
DB_USER=
DB_PASS=
GRAPH_NODE_DB_NAME=
INDEXER_DB_NAME_MAINNET=
INDEXER_DB_NAME_TESTNET=
TXN_RPC_MAINNET=
TXN_RPC_TESTNET=
OPERATOR_SEED_PHRASE_MAINNET=
OPERATOR_SEED_PHRASE_TESTNET=
STAKING_WALLET_ADDRESS_MAINNET=
STAKING_WALLET_ADDRESS_TESTNET=
GEO_COORDINATES=
INDEXER_AGENT_OFFCHAIN_SUBGRAPHS=
COMPOSE_FILE=