EMAIL=
DOMAIN=
ADMIN_USER=admin
ADMIN_PASSWORD=
DB_USER=
DB_PASS=
GRAPH_NODE_DB_NAME=
INDEXER_DB_NAME_MAINNET=
INDEXER_DB_NAME_TESTNET=
DB_HOST=
INDEXER_DB_HOST=
UPSTREAM_RPCS=
TXN_RPC_MAINNET=http://rpc:8545/1
TXN_RPC_TESTNET=http://rpc:8545/5
OPERATOR_SEED_PHRASE_MAINNET=
OPERATOR_SEED_PHRASE_TESTNET=
STAKING_WALLET_ADDRESS_MAINNET=
STAKING_WALLET_ADDRESS_TESTNET=
GEO_COORDINATES=
INDEXER_AGENT_OFFCHAIN_SUBGRAPHS=
COMPOSE_FILE=
